.header {
  align-items: center;
  background-color: #333;
  color: #fff;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  padding: 24px;
}

.header-link1,
.header-link2 {
  color: #fff;
}

.container {
  width: 768px;
  margin: 32px auto;
}

.Home_list {
  width: 100%;
  height: 140px;
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.meta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.created-at {
  font-size: 13px;
  color: black;
}

.categories-container {
  display: flex;
  gap: 8px;
}

.category {
  font-size: 13px;
  color: blue;
  border: 1px solid blue;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap; 
}

.article-title {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.content {
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  margin: 0;
}

